<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Account Deletion Request</title>
  </head>
  <body>
    <p><strong>You requested to delete your account.</strong></p>
    <hr />
    <p>Use the token to delete your account: <strong>{{emailToken}}</strong></p>
    <p>
      If you did not request this action, please ignore this email or contact
      our support team immediately.
    </p>
    <hr />
    <small>This is an automated message. Please do not reply.</small>
  </body>
</html>
