@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--blue-950);
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100dvh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Outfit", sans-serif;
  outline: none;
}

:root {
  --blue-950: #10141e;
  --blue-900: #161d2f;
  --blue-500: #5a698f;
  --red-500: #fc4747;
  --gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  --text-light: 300;
  --text-medium: 500;
}

.text-preset-1 {
  font-weight: var(--text-light);
  font-size: 1.25rem;
  line-height: 125%;
  letter-spacing: -0.3px;
}

.text-preset-2 {
  font-weight: var(--text-light);
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-weight: var(--text-medium);
  font-size: 0.938rem;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-4 {
  font-weight: var(--text-medium);
  font-size: 0.875rem;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-5 {
  font-weight: var(--text-light);
  font-size: 0.75rem;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-6 {
  font-weight: var(--text-light);
  font-size: 0.688rem;
  line-height: 125%;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .text-preset-1 {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }

  .text-preset-2 {
    font-size: 1.5rem;
  }

  .text-preset-3 {
    font-size: 1.125rem;
  }

  .text-preset-4 {
    font-size: 0.938rem;
  }

  .text-preset-5 {
    font-size: 0.813rem;
  }
}
